body {
    font-family: 'Just Another Hand';
    font-size: 1.8rem;
    letter-spacing: .5rem;
    background-color: yellow;
}

.judul {
    text-align: center;
}

.skor {
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 20px;
}

.container {
    width: 600px;
    margin: auto;
    cursor: url(../img/palu1.png), auto;
}

.container:active {
    cursor: url(../img/palu2.png), auto;
}

.tanah {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.tanah::after {
    content: '';
    background: url(../img/tanah.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    width: 200px;
    height: 100px;
    bottom: -25px;
}

.tikus {
    width: 100%;
    height: 100%;
    background: url(../img/tikus.png) bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100px;
    transition: top .3s;
}

.tanah.muncul .tikus {
    top: -15px;
}